.card-cont{
    /* border: 1px solid red; */
    border-radius: 1rem;
}

.card-cont:hover{
    cursor: pointer;
    background-color: #00afe3;
}

div[data-color="dark"]:hover{
    background-color: #0d3e80;
}

.card-body{
    font-size: 1.125rem;
    text-decoration: none;
    color: white;
}

.card-body img{
    width: 64px;
    margin: 1rem;
}

.card-body p{
    line-height: .25;
    margin-inline: 1rem; 
    /* margin-bottom: 0; */
}