.section3-wrapper{
    background-color: var(--dark-blue);
}

.section3-container{
    width: 70%;
    margin-inline: auto;
    padding-inline: 2rem;
    padding-block: 5rem;
    color: white;
}

.section3-container h1{
    font-size: 2.25rem;
    margin: 0;
    padding: 0;
}

.card-wrapper{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9rem,1fr));
    column-gap: 2rem;
    margin-top: 2rem;
}

@media screen and (width <= 1024px){

    .section3-container{
        width: 90%;
        padding-inline: 0;
    }

    .card-wrapper{
        row-gap: 2rem;
    }

}